.red {background: red;}
.blue {background: blue;}
.yellow {background: yellow;}
.cyan {background: cyan;}
.pink {background: pink;}
.black {background: black;}

/* header ----------- */
.custom-header {
  margin-top: -50px;
}
.logo-top {
  width: 100%;
  overflow: hidden;
}
.logo-bottom {
  width: 50%;
  text-align: center;
  border: #ccc solid 1px;
}
.logo-bottom-left {
  float: left;
}
.logo-bottom-right {
  float: right;
}
.unal-fake-header{
  width: 100%;
  height: 95px;
  background: grey;
  display: block;
}

/* project ----------- */
.project-full {}
.project-teaser {
  margin-top: 10px;
  margin-bottom: 10px;
  border: #ccc solid 1px;
}
.project-teaser .image {
  float: left;
  width: 30%;
  overflow: hidden;
}
.project-teaser .content {
  width: 70%;
  display: inline-block;
}
.project-teaser .content h2, .project-teaser .content .field-name-body {
  padding-left: 5%;
}